body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.custom-navbar{
  height: 67px;
}

.logo{
  height: 50px;
  width: auto;
}

.nav-custom{
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0,0,238);
  line-height: normal;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-custom:hover{
  background-color: #d9d9d9;
  color: rgb(0,0,238);
}

.nav-gap{
  display: flex;
  gap: 60px;
}

.hero{
  height: 500px;
  background-image:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.title{
  font-family: "Lucida Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: rgb(255,255,255);
  line-height: normal;
  margin-bottom: 10px;
}

.subtitle{
  font-family: "Lucida Sans", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: rgb(255,255,255);
  line-height: normal;
  margin-bottom: 0;
  max-width: 500px;
}


.about-section{
  background-color: #f3f3f3;
  padding: 40px 0 40px;
}

.about-content{
  max-width: 700px;
  margin-top: 26px;
}

.about-title{
  font-family: "Lucida Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: rgb(0,0,0);
  line-height: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.about-text{
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(0,0,0);
  line-height: normal;
  margin-bottom: 12px;
}

.about-image-wrapper{
  display: flex;
  justify-content: center;

}

.about-image{
  width: 100%;
  max-width: 645px;
  height: 440px;
  object-fit: cover;
  display: block;
  margin: 0 auto;

}


@media (min-width: 992px){
  .about-image{
    margin-left: 30px;
    margin-right: 0;
  }
}


@media (max-width: 991.98px){
  .custom-navbar{
    min-height: 67px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .mobile-menu{
    background-color: white;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 6px;
  }

  .nav-gap{
    gap: 0;
    flex-direction: column;
  }

  .nav-item{
    margin: 5px 0;
  }

  .hero{
    height: 500px;
  }

  .title{
    font-size: 45px;
  }

  .subtitle{
    font-size: 20px;
    max-width: 300px;
  }

  .about-section{
    padding: 35px 0;
  }

  .about-content{
    max-width: 100%;
    margin-top: 0;
  }

  .about-title{
    font-size: 34px;
    margin-bottom: 22px;
  }

  .about-text{
    font-size: 20px;
    margin-bottom: 18px;
  }

  .about-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* mobile */
@media (max-width: 576px){
  .logo{
    height: 42px;
  }

  .hero{
    height: 500px;
    background-position: center;
  }

  .title{
    font-size: 38px;
  }

  .subtitle{
    font-size: 18px;
    max-width: 220px;
  }

  .about-section{
    padding: 35px 0;
  }

  .about-title{
    font-size: 28px;
  }

  .about-text{
    font-size: 18px;
  }
}


.contact-section{
  min-height: 300px;
  background-color: #89b9c5;
  background-image: url("images/crisp-paper-ruffles.png");
  background-position: center;
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.contact-box{
  width: 500px;
  min-height: 200px;
  background:#f2f2f290;
  border-radius: 8px;
  padding: 20px 25px;
  margin: 0 auto;
}

.contact-title{
  font-family: "Lucida Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(0,0,0);
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}

.contact-input{
  height: 35px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-family: "Lucida Sans", sans-serif;
  font-size: 14px;
}



.contact-btn{
  background-color: #1f16c7;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  font-size: 13px;
  text-align: center;
}

.contact-btn:hover{
  background-color: #1910a8;
  color: #fff;
}


@media (max-width: 991.98px){

  .custom-navbar{
    min-height: 67px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .mobile-menu{
    background-color: white;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 6px;
  }

  .nav-gap{
    gap: 0;
    flex-direction: column;
  }

  .nav-item{
    margin: 5px 0;
  }

  .hero{
    height: 500px;
  }

  .title{
    font-size: 45px;
  }

  .subtitle{
    font-size: 20px;
    max-width: 300px;
  }

  .about-section{
    padding: 35px 0;
  }

  .about-content{
    max-width: 100%;
    margin-top: 0;
  }

  .about-title{
    font-size: 34px;
    margin-bottom: 22px;
  }

  .about-text{
    font-size: 20px;
    margin-bottom: 18px;
  }

  .about-image{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

/* mobile */
@media (max-width: 576px){

  .logo{
    height: 42px;
  }

  .hero{
    height: 500px;
    background-position: center;
  }

  .title{
    font-size: 38px;
  }

  .subtitle{
    font-size: 18px;
    max-width: 220px;
  }

  .about-section{
    padding: 35px 0;
  }

  .about-title{
    font-size: 28px;
  }

  .about-text{
    font-size: 18px;
  }

  .contact-section{
    height: auto;
    padding: 50px 0;
  }

  .contact-box{
    width: 100%;
    height: auto;
  }

  .contact-title{
    font-size: 28px;
  }
}


.custom-footer{
  background-color: #89b9c5;
  padding: 50px 0;
  margin-top: 40px;
}

.custom-footer-title{
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #000;
}

.custom-footer-icons{
  gap: 35px;
  margin-bottom: 30px;
}

.custom-footer-icons a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.custom-footer-icons img{
  width: 47px;
  height: 47px;
  object-fit: contain;
  display: block;
}

.custom-footer-copy{
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #000;
}

.custom-footer-brand{
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #000;
}

@media (max-width: 576px){
  .custom-footer{
    padding: 40px 0;
  }

  .custom-footer-icons{
    gap: 20px;
    flex-wrap: wrap;
  }

  .custom-footer-icons img{
    width: 34px;
    height: 34px;
  }

  .custom-footer-title,
  .custom-footer-copy,
  .custom-footer-brand{
    text-align: center;
  }
}
