html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  height: 50px;
  width: auto;
}

.nav-custom {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 238);
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-custom:hover {
  background-color: #fff;
  color: rgb(0, 0, 238);
}

.hero {
  min-height: 500px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.title {
  font-family: "Lucida Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  font-family: "Lucida Sans", sans-serif;
  font-size: 30px;
  color: #fff;
  max-width: 500px;
}

.about-section {
  padding: 40px 0 40px;
}

.about-content {
  max-width: 700px;
  margin-top: 26px;
}

.about-title {
  font-family: "Lucida Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about-text {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 12px;
}

.about-image {
  width: 100%;
  max-width: 645px;
  height: 440px;
  object-fit: cover;
  margin-top: 20px;
}

.contact-section {
  min-height: 300px;
  background-color: #89b9c5;
  background-image: url("images/crisp-paper-ruffles.png");
  background-position: center;
  background-repeat: repeat;
  margin-top: 20px;
 
}

.contact-box {
  max-width: 500px;
  background: #f2f2f290;
  border-radius: 8px;
  padding: 20px 25px;
}

.contact-title {
  font-family: "Lucida Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0;
}

.contact-input {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  font-family: "Lucida Sans", sans-serif;
  font-size: 14px;
}


.contact-btn{
  background-color:#1f16c7;
  color:#fff;
  border:none;
  border-radius:4px;
  font-size:13px;
}

.contact-btn:hover,
.contact-btn:focus,
.contact-btn:active{
  background-color:#1f16c7 !important;
  color:#fff !important;
  box-shadow:none !important;
  border:none !important;
}

.custom-footer {
  background-color: #89b9c5;

}

.custom-footer-title,
.custom-footer-copy,
.custom-footer-brand {
  font-family: "Lucida Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

.custom-footer-title {
  margin-bottom: 20px;
}

.custom-footer-icons img {
  width: 47px;
  height: 47px;
  object-fit: contain;
  display: block;
}

@media (max-width: 991.98px) {
  .title {
    font-size: 45px;
  }

  .subtitle {
    font-size: 20px;
    max-width: 300px;
  }

  .about-content {
    max-width: 100%;
    margin-top: 0;
  }

  .about-title {
    font-size: 34px;
  }

  .about-text {
    font-size: 20px;
    margin-bottom: 18px;
  }

  .about-image {
    height: auto;
  }
}

@media (max-width: 576px) {
  .logo {
    height: 42px;
  }

  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 18px;
    max-width: 220px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-text {
    font-size: 18px;
  }

  .contact-box {
    max-width: 100%;
  }

  .contact-title {
    font-size: 28px;
  }

  .custom-footer-icons img {
    width: 34px;
    height: 34px;
  }
}